@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf")
      format("ttf supports variations"),
    url("@/assets/fonts/Roboto/Roboto-Regular.ttf")
      format("ttf supports variations"),
    url("@/assets/fonts/Roboto/Roboto-Regular.woff")
      format("woff supports variations"),
    url("@/assets/fonts/Roboto/Roboto-Regular.woff")
      format("woff supports variations"),
    url("@/assets/fonts/Roboto/Roboto-Regular.woff2")
      format("woff2 supports variations"),
    url("@/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2-variations");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
      format("ttf supports variations"),
    url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
      format("ttf supports variations"),
    url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.woff")
      format("woff supports variations"),
    url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.woff")
      format("woff supports variations"),
    url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.woff2")
      format("woff2 supports variations"),
    url("@/assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.woff2")
      format("woff2-variations");
  font-weight: 400 500 600;
  font-display: swap;
}

.h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: clamp(4rem, 20vw - 1rem, 17.5rem);
  color: white;
  line-height: 1;
  margin: 0;
  margin-left: -1.5%;
}

.h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 4vw + 1rem, 4rem);
  color: white;
  margin: 0;
}

.h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  color: white;
  margin: 0;
}

.text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: 0;
}
